*, *::before, *::after {
  box-sizing: border-box;
}

#gradient {
  height: 250px;
  background-image: -webkit-linear-gradient(rgb(99, 173, 241), rgba(0, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgb(99, 173, 241) 0px, rgba(0, 255, 255, 0) 250px);
  background-image: -o-linear-gradient(top, rgb(99, 173, 241) 0px, rgba(0, 255, 255, 0) 250px);
}

.shape {
  margin: 0 auto;
  aspect-ratio: 1;
  position: relative;
  --width: 100%;
  --scale: 3.1;
  --opacity: 0.66;
  --top: 0;
  --left:0;
  --path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  --background: linear-gradient( #b2dfdb, #a5d6a7, #1e88e5 );
  --offset: 0deg;
  --speed: 11000ms;
  clip-path: var(--path);
  background: var(--background);
  scale: var(--scale);
  opacity: var(--opacity);
  width: var(--width);
  top: var(--top);
  left: var(--left);
  rotate: var(--offset);
  mix-blend-mode: normal;
  animation: turn var(--speed) linear forwards infinite;
}
@keyframes turn {
  to {
    rotate: calc(var(--offset) + 1turn);
  }
}

.blur-container {
  --blur: 0px;
  filter: blur(var(--blur));
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}
.blur-container > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}