.custom-margin {
  margin: 0 auto;
  margin-left: 25%;
  margin-right: 25%;
  width: 75%;
}

@media (max-width: 575px) {
  .custom-margin {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}

